<h1 style="text-align: center;"> Login Page </h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class = "container">
    <div>
      <input placeholder="Email" formControlName="email">
      <div *ngIf="loginForm.controls.email?.errors">Email is required.</div>
    </div>
    <div>
      <input placeholder="Password" formControlName="password">
      <div *ngIf="loginForm.controls.password?.errors">Password is required.</div>
    </div>
    <button [disabled]="loginForm.invalid" type="submit">Login</button>
    <button (click)="register()">Sign Up</button>
  </div>
</form>

